<table class="table table-sm table--truncated">
  <thead>
    <tr>
      <th>Scope Name</th>
      <th class="text-xs-center">Foreground</th>
      <th class="text-xs-center">Background</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Background</td>
      <td class="text-xs-center">
        <input type="color" id="background" name="background" [value]="scheme.background">
      </td>
      <td></td>
    </tr>
    <tr>
      <td>Caret</td>
      <td class="text-xs-center">
        <input type="color" id="caret" name="caret" [value]="scheme.caret">
      </td>
      <td></td>
    </tr>
    <tr>
      <td>Foreground</td>
      <td class="text-xs-center">
        <input type="color" id="foreground" name="foreground" [value]="scheme.foreground">
      </td>
      <td></td>
    </tr>
    <tr>
      <td>Invisibles</td>
      <td class="text-xs-center">
        <input type="color" id="invisibles" name="invisibles" [value]="scheme.invisibles">
      </td>
      <td></td>
    </tr>
    <tr>
      <td>Line Highlight</td>
      <td class="text-xs-center">
        <input type="color" id="lineHightlight" name="lineHightlight" [value]="scheme.lineHightlight">
      </td>
      <td></td>
    </tr>
    <tr>
      <td>Selected</td>
      <td class="text-xs-center">
        <input type="color" id="selection" name="selection" [value]="scheme.selection">
      </td>
      <td></td>
    </tr>
    <tr *ngFor="let setting of scheme.settings">
      <td>{{ setting.name }}</td>
      <td class="text-xs-center">
        <input type="color" [attr.id]="setting.name" [attr.name]="setting.name" [value]="setting.settings.foreground">
      </td>
      <td></td>
    </tr>
  </tbody>
</table>
