.gutter {
  width: 30px;
  display: inline-block;
  text-align: right;
  padding: 0px 5px;
  margin-right: 10px;
}

@block editor {
  display: flex;

  @element code {
    font-family: Monaco, monospace;
    // flex: 2;
    font-size: 0.9rem;
  }

  @element scheme {
    // flex: 1;
  }
}
